@{
    ViewBag.Title = "Contact";
    Layout = "~/View/Shared/Plantilla.cshtml";

}

@section textoParrafo {
    Lorem imput dolor sit amet,
}

@{ 
    int numero = 123;
    string nombre = "nombre";
}

<p>@numero</p>

@*Condicional en Razor*@

@if (numero > 100) 
 {
    <h3>El número es mayor a 100</h3>
 } 
 else 
 { 
    <h3>El número es menor a 100</h3>
 }

