@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Software Inventario</h1>
    <p class="lead">Este software es un sistema de información que permite manejar el inventario de una empresa de manera efectiva, 
    además de poder cargar los datos de usuarios, proveedores, clientes, e.t.c...</p>
    <p>Te permite conectarte a una base de datos modificando los datos detro de esta misma.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>
            Perfil de GitHub Juan Oviedo
        </p>
        <p><a class="btn btn-default" href="https://github.com/JuanDa-code">GitHub Perfil &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Repositorio Taller Framework</h2>
        <p>Link del Repositorio Git Hub.</p>
        <p><a class="btn btn-default" href="https://github.com/JuanDa-code/TallerFrameWork">Repositorio GitHub &raquo;</a></p>
    </div>
</div>