@model TallerFrameWork.Models.usuariorol

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>

        <dd>
            @TallerFrameWork.Controllers.UsuarioRolController.NombreUsuario(Model.idUsuario)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @TallerFrameWork.Controllers.UsuarioRolController.DescripcionRol(Model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todos", "Index")
</p>
